=text-shadow($horizontal-offset, $vertical-offset, $blur, $color)
  -webkit-text-shadow: $horizontal-offset $vertical-offset $blur $color
  -moz-text-shadow: $horizontal-offset $vertical-offset $blur $color
  -ms-text-shadow: $horizontal-offset $vertical-offset $blur $color
  text-shadow: $horizontal-offset $vertical-offset $blur $color
